/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.material {
  @import "dist/ngx-sdcore/assets/snotify/material";
}
.simple {
  @import "dist/ngx-sdcore/assets/snotify/simple";
}
.dark {
  @import "dist/ngx-sdcore/assets/snotify/dark";
}

.snotify-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
